# Bundler cache
.bundle/
vendor/

# Jekyll cache
.jekyll-cache/
_site/

# RubyGems
*.gem

# NPM dependencies
node_modules/

# IDE configurations
.idea/
.vscode/

# Internal documentation and drafts
docs/internal_guidelines.md
drafts/

# Misc
*.log
*.tmp
.env
assets/js/dist/
