# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode

# Internal documentation
docs/internal_guidelines.md

# Misc
*.log
*.tmp
assets/js/dist/
